body {
  font-family: "Segoe UI",  Verdana, sans-serif;
}
header {
  width: 100%;
  background-color: red;
  color: white;
  height: 100px;
}

header img {
  width: 6%;
  height: 70px;
  margin: 10px 10px;
  float: left;
  border-radius: 50%;
  border: 2px solid black;
}
nav {
  flex: 1;
  text-align: right;
}
nav ul {
  display: inline-block;
  list-style-type: none;
}

nav ul li {
  display: inline-flex;
  padding: 5px;
  margin-top: 20px;
  margin-right: 20px;
  border: 1px solid black;
  border-radius: 20%;
}
li a {
  color: black;
  text-align: center;
  padding: 5px;
  text-decoration: none;
}
li a:hover {
  border-radius: 30%;
  background-color: rgb(73, 72, 72);
}
section .leftbar {
  background-color: yellow;
  text-align: center;
  width: 20%;
  height: 300px;
  padding-top: 150px;
  float: left;
}
section .sidebar {
  background-color: orange;
  text-align: center;
  width: 80%;
  height: 300px;
  padding-top: 150px;
  float: right;
}
footer {
  background-color: rgb(255, 82, 82);
  padding: 20px;
  clear: both;
  text-align: center;
  color: black;
  height: 40px;
}
